<div class="body-container">
  <section class="block-container" id="block-container">
    <app-canvas></app-canvas>
    <mat-progress-bar mode="determinate" [value]="canvasService.calcFractalProgressObs$ | async"
      class=""></mat-progress-bar>
    <!-- (canvasService.calcFractalProgressObs$ | async) || 0 / canvasService.calcFractalProgress -->
    <section class="block">
      <div class="div-row">
        <button mat-flat-button color="primary" class="button-gen"
          (click)="toggleFractalDisplay()">{{canvasService.isFractalDisplayed ? "Masquer la fractale" : "Afficher la fractale"}}&#160;<mat-icon class="text-color-accent">{{canvasService.isFractalDisplayed ? "visibility_off" :
            "visibility_on"}}</mat-icon></button>
        <button mat-flat-button color="primary" class="button-gen"
          (click)="toggleAxesDisplay()">{{canvasService.isAxesDisplayed ? "Masquer les axes" : "Afficher les axes"}}&#160;<mat-icon class="text-color-accent">{{canvasService.isAxesDisplayed ? "visibility_off" :
            "visibility_on"}}</mat-icon></button>
        <button mat-flat-button color="primary" class="button-gen"
          (click)="toggleSettingsDisplay()">{{canvasService.isSettingsDisplayed ? "Masquer les réglages" : "Afficher les réglages"}}&#160;<mat-icon class="text-color-accent">{{canvasService.isSettingsDisplayed ? "visibility_off" :
            "visibility_on"}}</mat-icon></button>
            <button mat-flat-button color="primary" class="button-gen"
          (click)="toggleHelpDisplay()">{{canvasService.isHelpDisplayed ? "Masquer l'aide" : "Afficher l'aide"}}&#160;<mat-icon class="text-color-accent">{{canvasService.isHelpDisplayed ? "visibility_off" :
            "visibility_on"}}</mat-icon></button>
      </div>
      <div [hidden]="!canvasService.isHelpDisplayed" class="div-row-settings flex-center">
        <h3 class="text-color-white div-row-title mt-3 me-1 ms-1 text-center">Aide</h3>
        <h4 class="text-color-white div-row-title mt-2 me-1 ms-1 text-center">Touches :</h4>
        <h4 class="text-color-white div-row-title me-1 ms-1 text-center"><span class="text-color-accent">[a]</span> : rotation + / <span class="text-color-accent">[z]</span> : rotation -</h4>
        <h4 class="text-color-white div-row-title me-1 ms-1 text-center"><span class="text-color-accent">[q]</span> : zoom - / <span class="text-color-accent">[s]</span> : zoom +</h4>
        <h4 class="text-color-white div-row-title me-1 ms-1 text-center"><span class="text-color-accent">[&rarr; &larr; &uarr; &darr;]</span> : translation &rarr; &larr; &uarr; &darr;</h4>
        <h4 class="text-color-white div-row-title mt-2 me-1 ms-1 text-center">Réglages :</h4>
        <h4 class="text-color-white div-row-title me-1 ms-1 text-center"><span class="text-color-accent">[seed]</span> : nombre complexe de 'départ' défini par sa partie réelle et imaginaire</h4>
        <h4 class="text-color-white div-row-title me-1 ms-1 text-center"><span class="text-color-accent">[limit]</span> : 'seuil' du dessin</h4>
        <h4 class="text-color-white div-row-title me-1 ms-1 text-center"><span class="text-color-accent">[iter max number]</span> : nombre maximum de pas de la boucle de calcul pour un pixel donné</h4>
      </div>
      <div [hidden]="!canvasService.isSettingsDisplayed" class="div-row-settings flex-center">
        <h3 class="text-color-white div-row-title mt-3">Réglages : Seed : (<span class="text-color-accent">{{canvasService.real}}</span>) + i x
          (<span class="text-color-accent">{{canvasService.imag}}</span>)</h3>
        <div class="div-row-2">
          <mat-form-field appearance="outline" color="warn" class="form-field">
            <mat-label>Choisir une fractale</mat-label>
            <mat-select [(ngModel)]="canvasService.fractal" (selectionChange)="canvasService.changeFractal()">
              <mat-option *ngFor="let fractal of canvasService.fractals"
                [value]="fractal">{{fractal.getName()}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="div-row-2">

          <mat-form-field appearance="outline" color="warn" class="form-field">
            <mat-label for="real" class="label">Partie réelle</mat-label>
            <input matInput type="number" min="-4" max="4" step="0.001" name="real" [(ngModel)]="canvasService.real"
              class="input">

            <!-- (ngModelChange)="canvasService.uptadeFractal()" -->
            <mat-slider min="-4" max="4" step="0.001" [thumbLabel]="true" [(ngModel)]="canvasService.real" discrete
              class="slider"> <!-- [displayWith]="formatLabel" -->
              <!--<input matSliderThumb>-->
            </mat-slider>
          </mat-form-field>

          <mat-form-field appearance="outline" color="warn" class="form-field">
            <mat-label for="imag" class="label">Partie imaginaire</mat-label>
            <input matInput type="number" min="-4" max="4" step="0.001" name="imag" [(ngModel)]="canvasService.imag"
              class="input">

            <!-- (ngModelChange)="canvasService.uptadeFractal()" -->
            <mat-slider min="-4" max="4" step="0.001" [thumbLabel]="true" [(ngModel)]="canvasService.imag" discrete
              class="slider"> <!-- [displayWith]="formatLabel" -->
              <!--<input matSliderThumb>-->
            </mat-slider>
          </mat-form-field>
          <mat-form-field appearance="outline" color="warn" class="form-field">
            <mat-label for="limit" class="label">Limite</mat-label>
            <input matInput type="number" min="0" max="10" step="0.1" name="limit" [(ngModel)]="canvasService.limit"
              class="input">

            <!-- (ngModelChange)="canvasService.uptadeFractal()" -->
            <mat-slider min="0" max="10" step="0.1" [thumbLabel]="true" [(ngModel)]="canvasService.limit" discrete
              class="slider"> <!-- [displayWith]="formatLabel" -->
              <!--<input matSliderThumb>-->
            </mat-slider>
          </mat-form-field>
          <mat-form-field appearance="outline" color="warn" class="form-field">
            <mat-label for="iterNb" class="label">Nombre maximum d'itérations</mat-label>
            <input matInput type="number" min="5" max="1000" step="5" name="iterNb" [(ngModel)]="canvasService.iterNb"
              class="input">

            <!-- (ngModelChange)="canvasService.uptadeFractal()" -->
            <mat-slider min="5" max="1000" step="5" [thumbLabel]="true" [(ngModel)]="canvasService.iterNb" discrete
              class="slider"> <!-- [displayWith]="formatLabel" -->
              <!--<input matSliderThumb>-->
            </mat-slider>
          </mat-form-field>

        </div>
        <h4 class="text-center">Réglage des couleurs</h4>
        <div class="div-row-2">
          <div class="column">
            <h5 class="text-center">Couleur de début</h5>
            <mat-slider [min]="0" [max]="canvasService.gradientEnd - 1" [step]="1" [tickInterval]="1"
              [thumbLabel]="true" [(ngModel)]="canvasService.gradientStart" class="slider" (ngModelChange)="updateGradients()">
            </mat-slider>
            <canvas #canvasStart id="canvasStart" width="340px" height="8px"></canvas>
          </div>
          <div class="column">
            <h5 class="text-center">Couleur de fin</h5>
            <mat-slider [min]="canvasService.gradientStart + 1" [max]="6" [step]="1" [tickInterval]="1"
              [thumbLabel]="true" [(ngModel)]="canvasService.gradientEnd" class="slider" (ngModelChange)="updateGradients()">
            </mat-slider>
            <canvas #canvasEnd id="canvasEnd" width="340px" height="8px"></canvas>
          </div>
          <div class="column">
            <h5 class="text-center">Résultat</h5>
            <canvas #canvasResult id="canvasResult" width="340px" height="8px"></canvas>
          </div>
        </div>
        <button mat-flat-button color="primary" class="button-gen"
          (click)="canvasService.uptadeFractal()">Appliquer les modifications&#160;<mat-icon class="text-color-accent">done</mat-icon></button>
      </div>
    </section>
  </section>
</div>
