<div class="body-container">
  <section class="block-container" id="block-container">
    <app-canvas></app-canvas>
    <p class="text-center text-infos text-color-white">Zoom</p>
    <div class="progress-scale  mt-0 mb-0">
      <div class="fake-item"></div>
      <div class="scale-item">10 %</div>
      <div class="scale-item">100 %</div>
      <div class="scale-item">10<sup>3</sup> %</div>
      <div class="scale-item">10<sup>4</sup> %</div>
      <div class="scale-item">10<sup>5</sup> %</div>
      <div class="scale-item">10<sup>6</sup> %</div>
      <div class="scale-item">10<sup>7</sup> %</div>
      <div class="scale-item">10<sup>8</sup> %</div>
      <div class="scale-item">10<sup>9</sup> %</div>
      <div class="scale-item">10<sup>10</sup> %</div>
      <div class="scale-item">10<sup>11</sup> %</div>
      <div class="scale-item">10<sup>12</sup> %</div>
      <div class="scale-item">10<sup>13</sup> %</div>
      <div class="scale-item">10<sup>14</sup> %</div>
      <div class="scale-item">10<sup>15</sup> %</div>
      <div class="scale-item">10<sup>16</sup> %</div>
      <div class="scale-item">10<sup>17</sup> %</div>
      <div class="scale-item">10<sup>18</sup> %</div>
      <div class="scale-item">10<sup>19</sup> %</div>
      <div class="fake-item"></div>
    </div>
    <div class="progress-scale mt-0 mb-0">
      <div class="fake-item"></div>
      <div class="scale-item-bottom text-color-primary">|</div>
      <div class="scale-item-bottom text-color-primary">|</div>
      <div class="scale-item-bottom text-color-primary">|</div>
      <div class="scale-item-bottom text-color-primary">|</div>
      <div class="scale-item-bottom text-color-primary">|</div>
      <div class="scale-item-bottom text-color-primary">|</div>
      <div class="scale-item-bottom text-color-primary">|</div>
      <div class="scale-item-bottom text-color-primary">|</div>
      <div class="scale-item-bottom text-color-primary">|</div>
      <div class="scale-item-bottom text-color-primary">|</div>
      <div class="scale-item-bottom text-color-primary">|</div>
      <div class="scale-item-bottom text-color-primary">|</div>
      <div class="scale-item-bottom text-color-primary">|</div>
      <div class="scale-item-bottom text-color-primary">|</div>
      <div class="scale-item-bottom text-color-primary">|</div>
      <div class="scale-item-bottom text-color-primary">|</div>
      <div class="scale-item-bottom text-color-primary">|</div>
      <div class="scale-item-bottom text-color-primary">|</div>
      <div class="scale-item-bottom text-color-primary">|</div>
      <div class="fake-item"></div>
    </div>
    <mat-progress-bar mode="determinate" [value]="canvasService.zoomProgress" class="progress-bar mb-4" id="progress-bar-zoom">
<!--
      <ng-template mat-progress-bar-label>
        <div class="progress-scale">
          <div class="scale-item">0%</div>
          <div class="scale-item">25%</div>
          <div class="scale-item">50%</div>
          <div class="scale-item">75%</div>
          <div class="scale-item">100%</div>
        </div>
      </ng-template>
-->
    </mat-progress-bar>
    <mat-progress-bar mode="determinate" [value]="canvasService.calcFractalProgressObs$ | async" class="mb-4" id="progress-bar-calc"></mat-progress-bar>
    <div>
      <p class="text-center text-infos text-color-white">
        Translation : x : <span class="text-color-accent">{{canvasService.trans.getX() | number:'1.0-6':'fr-FR'}}</span>
        <span [innerHTML]="spaceChar"></span><span [innerHTML]="spaceChar"></span>&#x2022;<span [innerHTML]="spaceChar"></span> y : <span class="text-color-accent">{{canvasService.trans.getY() | number:'1.0-6':'fr-FR'}}</span>
      </p>
      <p class="text-center text-infos text-color-white">
        Rotation : <span class="text-color-accent">{{-1 * canvasService.angle | number:'1.0-6':'fr-FR'}}</span>
        ° <span [innerHTML]="spaceChar"></span>&#x2022;<span [innerHTML]="spaceChar"></span> Zoom : <span class="text-color-accent">{{100/canvasService.zoom | number:'1.0-6':'fr-FR'}}</span>%
      </p>
      <p class="text-center text-infos text-color-white">
        Nom de la fractale : <span class="text-color-accent">{{canvasService.fractal.getName()}}</span>
      </p>
    </div>

    <!-- (canvasService.calcFractalProgressObs$ | async) || 0 / canvasService.calcFractalProgress -->
    <section class="block">
      <div class="div-row flex-center">
        <button mat-flat-button color="primary" class="button-gen"
          (click)="toggleFractalDisplay()">{{canvasService.isFractalDisplayed ? "Masquer la fractale" : "Afficher la fractale"}}<span [innerHTML]="spaceChar"></span><mat-icon class="text-color-accent">{{canvasService.isFractalDisplayed ? "visibility_off" :
            "visibility_on"}}</mat-icon></button>
        <button mat-flat-button color="primary" class="button-gen"
          (click)="toggleAxesDisplay()">{{canvasService.isAxesDisplayed ? "Masquer les axes" : "Afficher les axes"}}<span [innerHTML]="spaceChar"></span><mat-icon class="text-color-accent">{{canvasService.isAxesDisplayed ? "visibility_off" :
            "visibility_on"}}</mat-icon></button>
        <button mat-flat-button color="primary" class="button-gen" id="button-settings"
          (click)="toggleSettingsDisplay()">{{canvasService.isSettingsDisplayed ? "Masquer les réglages" : "Afficher les réglages"}}<span [innerHTML]="spaceChar"></span><mat-icon class="text-color-accent">{{canvasService.isSettingsDisplayed ? "visibility_off" :
            "visibility_on"}}</mat-icon></button>
            <button mat-flat-button color="primary" class="button-gen"
          (click)="openHelpDialog()">Afficher l'aide<span [innerHTML]="spaceChar"></span><mat-icon class="text-color-accent">visibility_on</mat-icon></button>
            <button mat-flat-button color="primary" class="button-gen"
          (click)="resetSceneValues()">Réinitialiser<span [innerHTML]="spaceChar"></span><mat-icon class="text-color-accent">restore</mat-icon></button>
      </div>

      <div [hidden]="!canvasService.isSettingsDisplayed" class="div-row-settings flex-center">
        <mat-divider></mat-divider>
        <h3 class="text-color-accent div-row-title mt-5">Réglages</h3>
          <h4 class="text-color-white div-row-title ">Seed : (<span class="text-color-accent">{{canvasService.real}}</span>) + i x
            (<span class="text-color-accent">{{canvasService.imag}}</span>) <span [innerHTML]="spaceChar"></span>&#x2022;<span [innerHTML]="spaceChar"></span> limite : <span class="text-color-accent">{{canvasService.limit}}</span> <span [innerHTML]="spaceChar"></span><span [innerHTML]="puceChar"></span><span [innerHTML]="spaceChar"></span> nb iter. max : <span class="text-color-accent">{{canvasService.iterNb}}</span></h4>
        <div class="div-row-2">
          <mat-form-field appearance="outline" color="accent" class="form-field">
            <mat-label class="label-select">Choisir une fractale</mat-label>
            <mat-select [(ngModel)]="canvasService.fractal" class="select-fractales" (selectionChange)="canvasService.changeFractal()">
              <mat-option *ngFor="let fractal of canvasService.fractals" [value]="fractal">{{fractal.getName()}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="div-row-2">

          <mat-form-field appearance="outline" color="accent" class="form-field">
            <mat-label for="real" class="label">Partie réelle</mat-label>
            <input matInput type="number" min="-4" max="4" step="0.001" name="real" [(ngModel)]="canvasService.real" class="input">
            <mat-slider min="-4" max="4" step="0.001" [thumbLabel]="true" [(ngModel)]="canvasService.real" discrete class="slider">
            </mat-slider>
          </mat-form-field>
          <mat-form-field appearance="outline" color="accent" class="form-field">
            <mat-label for="imag" class="label">Partie imaginaire</mat-label>
            <input matInput type="number" min="-4" max="4" step="0.001" name="imag" [(ngModel)]="canvasService.imag" class="input">
            <mat-slider min="-4" max="4" step="0.001" [thumbLabel]="true" [(ngModel)]="canvasService.imag" discrete class="slider">
            </mat-slider>
          </mat-form-field>
          <mat-form-field appearance="outline" color="accent" class="form-field">
            <mat-label for="limit" class="label">Limite</mat-label>
            <input matInput type="number" min="0" max="10" step="0.1" name="limit" [(ngModel)]="canvasService.limit" class="input">
            <mat-slider min="0" max="10" step="0.1" [thumbLabel]="true" [(ngModel)]="canvasService.limit" discrete class="slider">
            </mat-slider>
          </mat-form-field>
          <mat-form-field appearance="outline" color="accent" class="form-field">
            <mat-label for="iterNb" class="label">Nombre maximum d'itérations</mat-label>
            <input matInput type="number" min="5" max="1000" step="5" name="iterNb" [(ngModel)]="canvasService.iterNb" class="input">
            <mat-slider min="5" max="1000" step="5" [thumbLabel]="true" [(ngModel)]="canvasService.iterNb" discrete class="slider">
            </mat-slider>
          </mat-form-field>

        </div>
        <mat-divider></mat-divider>
        <h4 class="text-center mt-4">Réglage des couleurs</h4>
        <div class="div-row-2">
          <div class="column">
            <h5 class="text-center">Couleur de début</h5>
            <mat-slider [min]="0" [max]="canvasService.gradientEnd - 1" [step]="1" [tickInterval]="1"
              [thumbLabel]="true" [(ngModel)]="canvasService.gradientStart" class="slider" (ngModelChange)="updateGradients()">
            </mat-slider>
            <canvas #canvasStart id="canvasStart" width="340px" height="8px"></canvas>
          </div>
          <div class="column">
            <h5 class="text-center">Couleur de fin</h5>
            <mat-slider [min]="canvasService.gradientStart + 1" [max]="6" [step]="1" [tickInterval]="1"
              [thumbLabel]="true" [(ngModel)]="canvasService.gradientEnd" class="slider" (ngModelChange)="updateGradients()">
            </mat-slider>
            <canvas #canvasEnd id="canvasEnd" width="340px" height="8px"></canvas>
          </div>
          <div class="column">
            <h5 class="text-center">Résultat</h5>
            <canvas #canvasResult id="canvasResult" width="340px" height="8px"></canvas>
          </div>
        </div>
        <mat-divider class="mb-3"></mat-divider>
        <div class="div-row-2">
          <button mat-flat-button color="primary" class="button-gen mb-3"
          (click)="canvasService.uptadeFractal()">Appliquer&#160;<mat-icon class="text-color-accent">done</mat-icon></button>
          <button mat-flat-button color="primary" class="button-gen mb-3"
          (click)="resetFractal()">Réinitialiser&#160;<mat-icon class="text-color-accent">restore</mat-icon></button>
        </div>

      </div>
    </section>
  </section>
</div>
