@import "src/library";
@import "src/theme";

.body-container {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 0px;
  flex-grow: 1;
  color: $components-background-color-accent;
}

.block-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 1200px;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 0rem;
  padding: 0px;
  min-height: 680px;
  background-color: $components-background-color-bis;
  border: $components-border-thickness solid black;
  border-radius: $components-border-radius;
}

.button-gen {
  margin: auto;
  height: 60px;
  width: 200px;
  margin-top: 1rem;
  margin-bottom: 0rem;
  border: $components-border-thickness solid black;
  border-radius: $components-border-radius;
}

.button-gen:hover {
  border: $components-border-thickness solid $components-foreground-color-accent;
}

.button-selected {
  background-color: $components-background-color-bis !important;
}

.div-row {
  display: flex;
  justify-content: flex-start;
  //gap: 1rem;
  flex-wrap: wrap;
  padding: 1rem;
}

.div-row-settings {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  flex-direction: column;
  justify-content:center;
}

.div-row-2 {
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
  gap: 1rem;
}

.div-row-title {
  margin-left: auto;
  margin-right: auto;
}

.block {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  flex-direction: column;
  //justify-content: center;
  //gap: 1rem;
  min-height: 100px;
  margin: 2rem;
  background-color: $components-background-color-ter;
  border: $components-border-thickness solid black;
  border-radius: $components-border-radius;
  padding-bottom: 1rem;
}

::ng-deep .mat-progress-bar-fill::after {
  background-color: $components-foreground-color-accent;
}

::ng-deep .mat-progress-bar-buffer {
  background: $components-background-color-bis;
}

::ng-deep .mat-progress-bar {
  border-radius: 5px;
}

.form-field {
  min-width: 360px;
  max-width: 800px;
  //background-color: $components-background-color-bis;
}

/*
::ng-deep .mat-form-field-underline .form-field, ::ng-deep .mat-form-field-ripple {
  background-color:$components-background-color-bis !important;
  color: $components-foreground-color-warn;
}
*/

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: $components-background-color-bis;
  color: $components-foreground-color;
  border-radius: calc($components-border-radius / 2);
}

.icon-arrows {
  display: inline-flex;
  vertical-align: middle;
}

.text-infos {
  font-size: 1rem;
}

.label {
  font-size: 1.4rem;

}

.input {
  min-width: 300px;
  max-width: 400px;
  height: 40px;
  font-size: 1.6rem;
}

.slider {
  min-width: 340px;
  max-width: 340px;
}

.column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 1.6rem;
}

#canvasStart,
#canvasEnd,
#canvasResult {
  border: calc($components-border-thickness / 2) solid black;
}

.mat-divider {
  border-top-color: $components-background-color;
  border: calc($components-border-thickness / 2) solid $components-background-color;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 2rem;
  margin-bottom: 0rem;
  //border-style: dotted;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  border: calc($components-border-thickness / 2) solid black;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
  top: 0.25rem;
}

::ng-deep .mat-form-field {
  //background-color:$components-background-color-bis !important;
  //border: ($components-border-thickness / 2) solid black;
  .mat-input-element {
      color: $components-foreground-color;
      background-color: $components-background-color-bis;
      padding-left: 0.25rem;
      padding-right: 0.25rem;
  }
  .mat-form-field-label {
      color: $components-foreground-color;
  }
  .mat-form-field-underline {
      background-color: $components-foreground-color;
  }
  .mat-form-field-ripple {
      background-color: $components-background-color-accent;
  }
  .mat-form-field-required-marker {
      color: $components-background-color-accent;
  }
}

