@import "src/library";
@import "src/theme";

mat-toolbar {
  margin: 0;
}

.title {

  text-align: center;
  font-size: 2.6rem !important;
  white-space: normal;
  line-height: 3rem !important;
}

.body-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  background-color: $components-background-color;
  min-width: 100%;
  height: auto;
  color: $components-background-color-accent;
  padding-bottom: 0.5rem;
  border-bottom: $components-border-thickness solid black;
}

.div-title {
  padding: 1rem;
  max-width: inherit;
  margin-bottom: 1rem;
}

.menu-icon {
  margin-top: 1rem;
  transform: scale(2);
}
