@import "src/library";
@import "src/theme";

::ng-deep mat-dialog-container {
  background-color: $components-background-color-ter !important;
  border: $components-border-thickness solid black !important;
  border-radius: $components-border-radius !important;

}

.button-gen {
  margin: auto;
  height: 60px;
  width: 200px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: $components-border-thickness solid black;
  border-radius: $components-border-radius;

}

.button-gen:hover {
  border: $components-border-thickness solid $components-foreground-color-accent;
}

.mat-divider {
  border-top-color: $components-background-color;
  border: calc($components-border-thickness / 2) solid $components-background-color;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 2rem;
  margin-bottom: 0rem;
  //border-style: dotted;
}
