<div class="body-container">
  <section class="block-container container">
    <div class="mt-2 row">
      <h2 class="text-color-accent text-center title">Accueil</h2>
      <p class="text text-center">Ceci est un application qui dessine des fractales de Julia.</p>
      <mat-divider></mat-divider>
      <p class="text text-center"><strong class="text-color-accent">Il est possible des modifier :</strong></p>
      <p class="text text-center">Le <strong class="text-color-accent">nombre de départ</strong> [Seed] (nombre complexe dont on peut modifier la partie réelle et la partie imaginaire) : valeur de départ de la suite appliquée dans la boucle de calcul.</p>
      <p class="text text-center">Le <strong class="text-color-accent">module limite</strong> [Limite] : détermine si le pixel correspondant au module du nombre complexe testé est affichable.</p>
      <p class="text text-center">Le <strong class="text-color-accent"> nombre maximum d'itérations</strong> [Nombre maximum d'itérations] : détermine le nombre maximum de boucles de la boucle de calcul.</p>
      <mat-divider></mat-divider>
      <p class="text text-center">Une liste de fractales pré-enregistrée est accessible dans les réglages.</p>
      <mat-divider></mat-divider>
      <p class="text text-center">Celle application a été codée en Typescript/Html/Scss sous Angular en utilisant Material et BootStrap.</p>
      <mat-divider></mat-divider>
      <p class="text text-center">Une petite partie du code a été trouvée sur internet (algorithme de la boucle de calcul de la fractale et la bibliothèque pour le calcul matriciel).</p>
    </div>
    <div class="mt-2 row">
      <button mat-flat-button type="button" [routerLink]="['/draw']" class="button-gen" color="primary">Page Dessin <mat-icon class="text-color-accent">play_arrow</mat-icon></button>
    </div>
  </section>
</div>
