@import "src/library";
@import "src/theme";

.body-container {
  margin-top: 4rem;
  margin-bottom: 4rem;
  margin-left: 2rem;
  margin-right: 2rem;
  flex-grow: 1;
  color: $components-background-color-accent;
}

.block-container {
  max-width: 800px;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: $components-background-color-bis;
  border: $components-border-thickness solid black;
  border-radius: $components-border-radius;
}

.button-gen {
  margin: auto;
  height: 60px;
  width: 250px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: $components-border-thickness solid black;
  border-radius: $components-border-radius;
}

.button-gen:hover {
  border: $components-border-thickness solid $components-foreground-color-accent;
}

.text {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: white;
  font-size: 1rem;
  line-height: 1.8rem;
}

.title {
  margin-top: 1rem;
  font-size: 1.6rem;
}

.title-little {
  margin-top: 2rem;
}

.mat-divider {
  border: calc($components-border-thickness / 2) solid $components-background-color-ter;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: auto;
  margin-left: auto;
}

.text-link {
  color: $components-background-color-accent;
  text-decoration: none;
}

.text-link:hover {
  color: $components-foreground-color-accent;
}
