@import "library";
@import "theme";
@import "~bootstrap/dist/css/bootstrap.css";

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



.mat-form-field-underline .form-field, ::ng-deep .mat-form-field-ripple {
  background-color:$components-background-color-bis !important;
  color: $components-foreground-color-accent;
}
