<footer class="body-container">
    <div class="block-flex mt-3">
      <p class="text-center">Application de dessin de fractales de Julia codée en TypeScript/Html/Scss avec Angular (en utilisant BootStrap et Material).</p>
      <p class="text-center">Réalisé en décembre 2022 • Contact : <a href="mailto:jac.granarolo.info@gmail.com" class="text-color-white text-link">jac.granarolo.info@gmail.com</a>
        • Lien github : <a href="https://github.com/jacquesgrana/fractales-angular" class="text-color-white text-link">https://github.com/jacquesgrana/fractales-angular</a></p>
    </div>
  </footer>

